*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
}

h1{
    text-align: center;
    margin: 20px 0 20px 0;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 15px solid black;
    width: 700px;
    background-color: rgb(74, 74, 198);
    border-top: none ;

}

ul{
    display: grid;
    place-items: center;

}

ul p{
    margin: 10px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

ul:hover{
    cursor: pointer;
    background-color: rgb(98, 136, 238);
}

ul p:hover{
    cursor: pointer;
    background-color: rgb(193, 193, 193);
}

